* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  border: 0;
}

body {
  background-color: #f1f0f5;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #ffffff;
}

label {
  font-weight: 400;
}

a:hover {
  color: #f1f0f5;
}

img {
  border-radius: 50%;
}

/* log in */
.loin-title {
  color: #483d8e;
}

/* nav bar */
.user-avatar {
  margin: 0.5rem;
  width: 70px;
  height: 100%;
}

.page-content {
  display: flex;
}

.app-name {
  color: #483d8e;
  margin-left: 1em;
}

/* side bar */
.user-avatar-content {
  width: 150px;
  height: 100%;
  margin-bottom: 0.5rem;
}

.user-name {
  margin-top: 1rem;
}

.user-side-bar {
  background-color: #483d8e;
  padding: 0.5rem;
  width: 320px;
}

.user-side-bar p {
  word-wrap: break-word;
}

.user-details {
  color: #ffffff;
  margin: 1rem;
  text-align: center;
}

.user-menu-bar {
  margin: 1rem;
}

.user-menu-bar h4 {
  margin: 1rem;
}

.group-avatar {
  width: 150px;
  height: 100%;
  margin-bottom: 0.5rem;
}

.group-description {
  margin-top: 1rem;
}

.group-side-bar {
  background-color: #483d8e;
  padding: 0.5rem;
  width: 320px;
}

.group-side-bar p,
.group-side-bar h2 {
  word-wrap: break-word;
}

.group-details {
  color: #ffffff;
  margin: 1rem;
  text-align: center;
}

.group-menu-bar {
  margin: 1rem;
}

.group-menu-bar h4 {
  margin: 1rem;
}

/* group */
.group {
  background-color: #f1f0f5;
  width: 500px;
}

.create-group label {
  display: flex;
}

.create-group {
  margin: 2rem;
  width: 700px;
}

.group-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.group-content[data-tag="Untitled"] {
  background-color: #483d8e;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}
.group-content[data-tag="Education"] {
  background-color: #AE9CF4;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Travel"] {
  background-color: #F49D9D;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Work"] {
  background-color: #98e698;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Sports"] {
  background-color: #e7d95c;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Food"] {
  background-color: #e1c2d9;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Reading"] {
  background-color: #50dbba;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Art"] {
  background-color: #74B1DD;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Pets"] {
  background-color: #C6A56E;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Movies"] {
  background-color: #b28491;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Music"] {
  background-color: #56957E;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Health"] {
  background-color: rgb(104, 144, 175);
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-content[data-tag="Technology"] {
  background-color: rgb(77, 128, 105);
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.group-box {
  margin: 0.5rem;
}

.group-box h5,
.group-box p,
.delete-btn {
  margin-left: 1rem;
}

.group-box p,
.group-box h5 {
  margin-left: 1rem;
  word-wrap: break-word;
}

.group-avatar-box {
  margin: 1rem;
  width: 80px;
  height: 100%;
}

.group-name input {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.group-description textarea {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#id_gtag {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  width: 20%;
}

.group-tag button {
  margin-left: 0.5rem;
}

.group-avatar-list {
  width: 60px;
  height: 100%;
}

/* post */
.post {
  background-color: #f1f0f5;
  width: 500px;
}

.create-post label {
  display: flex;
}

.create-post {
  margin: 2rem;
  width: 700px;
}

.post-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.post-content[post-tag="Untitled"] {
  background-color: #483d8e;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Education"] {
  background-color: #AE9CF4;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Travel"] {
  background-color: #F49D9D;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Work"] {
  background-color: #98e698;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Sports"] {
  background-color: #e7d95c;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Food"] {
  background-color: #e1c2d9;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Reading"] {
  background-color: #50dbba;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Art"] {
  background-color: #74B1DD;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Pets"] {
  background-color: #C6A56E;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Movies"] {
  background-color: #b28491;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Music"] {
  background-color: #56957E;
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Health"] {
  background-color: rgb(104, 144, 175);
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-content[post-tag="Technology"] {
  background-color: rgb(77, 128, 105);
  color: #ffffff;
  margin: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  width: 350px;
}

.post-box {
  margin: 0.5rem;
}

.post-box h5,
.post-box p,
.delete-btn {
  margin-left: 0.5rem;
}

.post-box p {
  margin-left: 0.5rem;
  word-wrap: break-word;
}

.post-title input {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-description textarea {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#id_ptag {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  width: 20%;
}

.post-tag button {
  margin-left: 0.5rem;
}

.user-avatar-post {
  width: 60px;
  height: 100%;
}

/* group member */
.group-members h1 {
  font-size: 50px;
  text-align: center;
}
.group-members {
  margin: 2rem;
  color: #483d8e;
}
.group-member-box {
  padding: 0.5rem;
  background-color: #483d8e;
  color: #ffffff;
  display: flex;
  width: 400px;
  border-radius: 20px;
}

.group-member-details {
  margin: 0.5rem;
}

.add-member-form {
  margin-top: 2rem;
}

.add-member-form label {
  font-weight: 500;
  margin: 1rem;
}

.add-member-form input {
  margin-right: 1rem;
}

/* profile */

.profile {
  background-color: #f1f0f5;
  width: 500px;
  margin: 4rem;
  display: block;
}

.profile h1 {
  color: #483d8e;
  text-align: center;
  margin-bottom: 1rem;
}

.user-avatar-profile {
  width: 150px;
}

.user-profile-content {
  background-color: #483d8e;
  color: #ffffff;
  border-radius: 30px;
  padding: 2rem;
  font-size: 20px;
}

/* schedule */
.schedule h1 {
  font-size: 50px;
  text-align: center;
  color: #483d8e;
}
.schedule {
  margin: 0.5rem;
  color: #483d8e;
}

.slot {
  padding: 0px;
  height: 40px;
}

.slot_busy {
  margin-top: 5px;
  background-color: #ff0000;
  width: 100%;
  height: 30px;
}

/* body, html {
    height: 100%;
} */

/* edit group */
.edit-group h1 {
  font-size: 50px;
  text-align: center;
  color: #483d8e;
}
.edit-group {
  margin-left: 10rem;
  padding: 2rem;
  font-size: 20px;
}

.edit-group label {
  margin-right: 0.5rem;
}

/* edit post */
.edit-post h1 {
  font-size: 50px;
  text-align: center;
  color: #483d8e;
}
.edit-post {
  margin-left: 10rem;
  padding: 2rem;
  font-size: 20px;
}

.edit-post label {
  margin-right: 0.5rem;
}

/* change password */
.change-password h1 {
  font-size: 50px;
  text-align: center;
  color: #483d8e;
}
.change-password {
  margin-left: 10rem;
  padding: 2rem;
  font-size: 20px;
}

.change-password label {
  margin-right: 0.5rem;
}
