{% extends 'mainPage/layout.html' %}

{% block title %}
About page
{% endblock %}

{% block body %}
<h1> About SyncMeet </h1>
<h2> Created by </h2>
<table>
<tr> <td> 1. สุรียานี </td> <td> ดือราซอ </td> <td> 6310510026 </td> </tr>
<tr> <td> 2. นิษฐา </td> <td> แก้วสมบัติ </td> <td> 6310611089 </td> </tr>
<tr> <td> 3. พีระชัย </td> <td> เกรียงไกรชัยพร </td> <td> 6410685058 </td> </tr>
<tr> <td> 4. ธนากร </td> <td> ทองย้อย </td> <td> 6410615063 </td> </tr>
<tr> <td> 5. ธนกฤต </td> <td> อิ้ววังโส </td> <td> 6410685124 </td> </tr>
</table>
<h2> Link </h2>
<a href="https://docs.google.com/document/d/1GndR5SmX-HM2LwB5JAJadZvNKzyux7qtKYudSr-Ge3w/edit?usp=sharing"> 
    Project File </a> </br>
<a href="https://www.pivotaltracker.com/projects/2682023"> Pivotal Tracker </a> </br>
<a href="https://github.com/6410615063/SyncMeet"> Github Repo </a>
{% endblock %}