{% extends 'mainPage/layout.html' %}

{% block title %}
<style>
    body {
        background-color: paleGreen;
    }
</style>
<title>SyncMeet</title>
{% endblock %}

{% block body %}
Welcome to User schedule page!!
</br> You should see this page after clicking "User schedule" in the user sidebar
</br> There should be:
<ul>
    <li> normal 7-day schedule table </li>
    <li> listed activity inside the appopriate schedule slot </li>
    <li> edit schedule table </li>
    <li> user side bar(group, schedule, logout) </li>
</ul>

sidebar(Placeholder)
<ul>
    <li> <a href="{% url 'group' %}"> Group </a> </li>
    <li> Schedule(You are here) </li>
    <li> <a href="{% url 'logout' %}"> Log out </a> </li>
</ul>

{% endblock %}