{% extends 'mainPage/layout.html' %}

{% block head %}
<style>
    body {
        background-color: paleGreen;
    }
    table {
        border: 2px solid black
    }
    tr {
        border: 2px solid black
    }
    th {
        border: 2px solid black
    }
    td {
        border: 2px solid black
    }
</style>
<title>SyncMeet</title>
{% endblock %}

{% block body %}
Welcome to User schedule page!!
</br> You should see this page after clicking "User schedule" in the user sidebar
</br> There should be:
<ul>
    <li> normal 7-day schedule table </li>
    <li> listed activity inside the appopriate schedule slot </li>
    <li> edit schedule table </li>
    <li> user side bar(group, schedule, logout) </li>
</ul>

sidebar(Placeholder)
<ul>
    <li> <a href="{% url 'group' %}"> Group </a> </li>
    <li> Schedule(You are here) </li>
    <li> <a href="{% url 'logout' %}"> Log out </a> </li>
</ul>

schedule table
<table>
    <tr> <th> Day </th> 
        {% for time in timeRange %}
            <th> {{time}} </th>
        {% endfor %}
    </tr>
    <tr> <th> Sunday </th> </tr>
    <tr> <th> Monday </th> </tr>
    <tr> <th> Tuesday </th> </tr>
    <tr> <th> Wednesday </th> </tr>
    <tr> <th> Thursday </th> </tr>
    <tr> <th> Friday </th> </tr>
    <tr> <th> Saturday </th> </tr>
</table>

Activity list(placeholder)
<ul>
    {% for act in activity %}
        <li> {{act}} </li>
    {% endfor%}
</ul>

{% endblock %}